#footer
{
    flex: 0 0 auto;
	background-color: #121212;
	width: 90%;
    min-height: 200px;
    margin-top: 100px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
	color: #ffffff;
}

#row
{
    
}

#column
{
    float: left;
    width: 20%;
}

#column h
{
    font: 12px Arial;
    color: #5a5a5a;
    line-height: 16px;
}

#column a
{
    font: 12px Arial;
    line-height: 16px;
}